<p>Hi {{ user.firstName }},</p>

<p>Can't remember your password? Don't worry about it — it happens.</p>

<p>
  Click this link to reset your password:
  <br />
  <a href="{{ appConfig.appBaseUrl  }}/account/password-reset/{{ passwordResetToken.token }}">
    {{ appConfig.appBaseUrl }}/account/password-reset/{{ passwordResetToken.token }}
  </a>
</p>

Thanks, <br />
Your friends at {{ appConfig.name }}
